<section>
  <div class="example-label">Basic</div>
  <div class="example-button-row">
    <ac-button label="Basic" (buttonClick)="onClick()"></ac-button>
    <ac-button label="Basic Link" type="link" (buttonClick)="onClick()"></ac-button>
    <ac-button label="Basic Disabled" [disabled]="true" (buttonClick)="onClick()"></ac-button>
    <ac-button label="button with badge" badge="2" (buttonClick)="onClick()"></ac-button>
  </div>
</section>
<mat-divider></mat-divider>

<section>
  <div class="example-label">Raised</div>
  <div class="example-button-row">
    <ac-button label="Raised" matType="raised" (buttonClick)="onClick()"></ac-button>
    <ac-button label="Raised Link" matType="raised" type="link" (buttonClick)="onClick()"></ac-button>
  </div>
</section>
<mat-divider></mat-divider>

<section>
  <div class="example-label">Stroked</div>
  <div class="example-button-row">
    <ac-button label="Stroked" matType="stroked" (buttonClick)="onClick()"></ac-button>
    <ac-button label="Stroked Link" matType="stroked" type="link" (buttonClick)="onClick()"></ac-button>
  </div>
</section>
<mat-divider></mat-divider>

<section>
  <div class="example-label">Flat</div>
  <div class="example-button-row">
    <ac-button label="Flat" matType="flat" (buttonClick)="onClick()"></ac-button>
    <ac-button label="Flat Link" matType="flat" type="link" (buttonClick)="onClick()"></ac-button>
  </div>
</section>
<mat-divider></mat-divider>

<section>
  <div class="example-label">Icon</div>
  <div class="example-button-row">
    <ac-button matIcon="home" matType="icon" ariaLabel="test" (buttonClick)="onClick()"></ac-button>
    <ac-button matIcon="home" matType="icon" ariaLabel="test" type="link" (buttonClick)="onClick()"></ac-button>
  </div>
</section>
<mat-divider></mat-divider>

<section>
  <div class="example-label">Fab</div>
  <div class="example-button-row">
    <ac-button matIcon="home" matType="fab" ariaLabel="test" (buttonClick)="onClick()"></ac-button>
    <ac-button matIcon="home" matType="fab" ariaLabel="test" type="link" (buttonClick)="onClick()"></ac-button>
  </div>
</section>
<mat-divider></mat-divider>

<section>
  <div class="example-label">Mini FAB</div>
  <div class="example-button-row">
    <ac-button matIcon="home" matType="mini-fab" ariaLabel="test" (buttonClick)="onClick()"></ac-button>
    <ac-button matIcon="home" matType="mini-fab" ariaLabel="test" type="link" (buttonClick)="onClick()"></ac-button>
  </div>
</section>
<mat-divider></mat-divider>
